.hero {
    /* min-height: 50vh; */
    background: linear-gradient(180deg, #f4d8d8, #e1ffea22 60%);
    display: flex;
    /* Flexbox layout */
    /* Remove centering styles */
    /* align-items: center;  */
    justify-content: center;
    padding: 10px 9%;
    /* Adjust padding as needed */
}

.hero-image {
    position: relative;
    width: 350vw;
}

.hero-image img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

/* Aspect Ratio Trick */
.hero-image {
    padding-top: 8%;
    overflow: hidden;
    /* Hide overflowing content */
}

/* Responsive Adjustments (Optional) */
@media (max-width: 1200px) {
    .hero {
        padding: 10px 6%;
        /* Adjust padding for smaller screens */
    }
}

@media (max-width: 900px) {
    /* No changes needed for image at this breakpoint */
}

@media (max-width: 700px) {
    .hero {
        padding: 0 10%;
        /* Remove padding for very small screens */
    }
}